@charset "utf-8";
/* CSS Document */
body{
padding:0;
margin:0;
	
}

.row-left .span6
{
	background-color: #bbb;
	height:100px;
	
}
.row-left .span9
{
	background-color: #bbb;
	height:500px;
	
}

.row-left .span1
{
	background-color: #0C3;
	height:50px;
	margin-top:0;
	margin-left:0;
	border-right:1px solid #ffffff;
	
	
}

.row-left .span5
{
	background-color: #0C6;
	
	
}
.row-left .span8
{
	
	background-color: #0C6;
	height:80px;
	text-align:center;
	margin-top:5%;
}

footer
{
	background-color:#003;	
	
}